# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directory
node_modules/

# Build outputs
dist/
dist-ssr/

# Local env files and overrides
*.local
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# IDE / Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Husky
.husky/_/
